.reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  
}
@media screen and (max-width:490px) {
    .reviews{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
      
    }
  }
  @media screen and (max-width:870px) and (min-width:491px) {
    .reviews{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      
    }
    
  }
