.home-container{
    margin-top: 8%;
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 5px;
}
.heading{
    color: rgba(30, 144, 194, 1);
}

.picture img{
    width: 100%;
    height: auto;
    border: 3px solid rgba(30, 144, 194, 1);
    border-radius: 5px;
}
.grid-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media screen and (max-width:490px) {
    .home-container{
        display: flex;
        flex-direction: column-reverse;
        margin: 30px 0;
     } 
     .heading{
         text-align: center;
     }
     .grid-box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
     
  }
  @media screen and (max-width:870px) and (min-width:491px) {
    .home-container{
        display: grid;
        grid-template-columns: 7fr 5fr;
        gap: 10px;
        margin: 30px 0;
    } 
    .grid-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    } 
    
  }
